body {
  		background-color:#000000 
  	}

 header {
  		background-color:blue
  	}
.title
	{
		font-family:fantasy,garamond,serif;color:orange;font-size:30px;font-style:normal;text-align: center;
	} 
.stitle
	{
		font-family:fantasy,garamond,serif;color:orange;font-size:30px;font-style:normal;
	} 
.normal
	{
		font-family:Candara,garamond,serif;color:white;font-size:20px;font-style:normal;text-align: center;
	} 
.Head
	{
		font-family:fantasy,garamond,serif;color:orange;font-size:60px;font-style:underline;text-align: center;
	} 
.list
	{
		font-family:Candara,garamond,serif;color:white;font-size:20px;font-style:normal;
	} 
.right
	{
	text-align: right;
	} 

.center
	{
	text-align: center;
	} 
